<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
</head>
<body>
<div id="contents" style="height:500px; overflow:auto;"></div>
<div>
    <textarea id="msg"></textarea>
    <a href="javascript:;" onclick="sendMsg()">发送</a>
</div>
<script src="{{static_url('js/jquery.min.js')}}"></script>
<script type="text/javascript">
    var ws = new WebSocket("ws://192.168.245.1:9999/chat");
    <!--接受服务器发来的消息-->
    ws.onmessage = function(e){
        $("#contents").append("<p>" + e.data + "</p>");
    }
    function sendMsg(){
        var msg = $("#msg").val();
        ws.send(msg);
        $("#msg").val("");
    }
</script>

</body>
</html>